@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-sans: var(--font-jakarta);

  --color-brand-primary: #6366f1;     
  --color-brand-secondary: #06b6d4;   
  --color-brand-dark: #090d16;        
  --color-brand-light: #f8fafc;       
}


::selection {
  background-color: rgba(99, 102, 241, 0.15);
  color: #6366f1;
}

.nav-link-active {
  position: relative;
}
.nav-link-active::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(1);
  height: 2px;
  bottom: -4px;
  left: 0;
  background: linear-gradient(to right, var(--color-brand-primary), var(--color-brand-secondary));
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}

html {
  scroll-behavior: smooth;
}